<div class="container"
  <h2>Create a Project</h2>
  <form class="form-group" action="/new_project" method="post">
    <label for="">Project Title</label>
    <input type="text" name="title" value="">
    <button type="submit">Create Project</button>
  </form>
</div>

<% if Project.all.any? %>
<div class="container">
  <% Project.all.each do |project| %>
  <div class ="container">
    <h3><a href="/projects/<%= project.id %>"><%= project.title %></a></h3>
    <p>Project ID: <%= project.id %></p>
  </div>
  <% end %>
</div>
<% end %>
