<div class="container"
  <h2>Edit Volunteer Info</h2>
  <form name="edit_vol" class="form-group" action="/volunteer/<%= @volunteer.id %>/edit" method="post">
    <label for="">Name</label>
    <input type="text" name="name" value="">
    <button type="submit">Update Volunteer</button>
      <button class="kill" type="submit" formaction="/volunteer/<%= @volunteer.id %>/delete" method="post">Kill Volunteer</button></a>
    <a href="/"><button>Cancel</button></a>
  </form>
</div>

<script type="text/javascript">
  document.addEventListener('click', function (event) {

	// If the clicked element doesn't have the right selector, bail
	if (!event.target.matches('.kill')) return;
  var audio = new Audio('/WilhelmScream.mp3');
  audio.play();
  setTimeout(function(){
    document.forms["edit_vol"].submit();
  }, 4000);


}, false);

</script>
